# Documentation Tool
Possibly the simplest documentation tool known to man

## Dockerfile

Here are my Dockerfile steps:

{{ Documentation Section: Dockerfile }}

## Test lines

Blah Blah

{{ Blah Blah }}



## Python code

Here are my python files:

**code.py**

{{ Documentation Section: ./code_docs.py }}
